/* shared/ui/Pagination/Pagination.module.css */
.Pagination {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.PageButton {
    width: 2.5rem;
    font-size: 1rem;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: var(--white);
    border: 0.05rem solid #ddd;
    transition: var(--transition);
}
.PageButton:not(:disabled):hover,
.Active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
}