/* -------------------- Canvas -------------------- */

.CanvasContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.CanvasArea {
    flex: 1;
    background-color: #e5e7eb;
    padding: 2rem;
    overflow: auto;
    position: relative;
    scrollbar-width: thin;
}

.Canvas {
    background-color: white;
    box-shadow: var(--shadow);
    margin: 0 auto;
    width: 794px;
    height: 1123px;
    position: relative;
}

/* -------------------- Elements -------------------- */

.Element {
    transition: var(--transition);
}

.Element:hover {
    border-color: var(--primary-color) !important;
}

.ElementLabel {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    background-color: white;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: #4b5563;
    box-shadow: var(--shadow);
}

.ElementContent {
    padding: 0.75rem;
    padding-top: 1.75rem;
    height: 100%;
    overflow: hidden;
}

.TextContent {
    word-break: break-word;
}

.PlaceholderIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #9ca3af;
}

/* -------------------- Resize -------------------- */

.ResizeHandle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background-color: var(--secondary-color);
    cursor: nwse-resize;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: var(--transition);
}
.ResizeHandle:hover {
    background-color: var(--primary-color);
}

/* -------------------- Table -------------------- */

.TablePreview {
    width: 100%;
    height: 100%;
    font-size: 0.75rem;
}

.TableHeader {
    display: flex;
    font-weight: 600;
}

.TableHeaderCell {
    flex: 1;
    padding: 0.25rem;
    background-color: #f9fafb;
    border: 0.05rem solid #ddd;
}

.TableHeaderCell:last-child {
    border-right: none;
}

.TableRow {
    display: flex;
}

.TableCell {
    flex: 1;
    padding: 0.25rem;
    border: 0.05rem solid #ddd;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.EmptyTableCell {
    padding: 0.5rem;
    text-align: center;
    color: #6b7280;
}

.TableCellInput {
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}

/* -------------------- Hover -------------------- */

.EmptyTableCell:hover,
.TableHeaderCell:hover,
.TableCell:hover {
    border-color: var(--primary-color);
    z-index: 1;
}
