.Wrapper {
    display: flex;
    flex-flow: column nowrap;

    align-items: start;
    gap: 0.5em;
    position: relative;
}

.Label {
    margin-left: 1em;
}

.CheckboxContainer {
    position: relative;
    display: inline-flex;
    width: 100%;
}

.Input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.CustomCheckbox {
    display: inline-block;
    width: 100%;
    height: 2.55em;
    border-radius: var(--border-radius);
    background-color: var(--white);
    cursor: pointer;
    position: relative;
    box-shadow: var(--shadow);
    border: 0.05em solid #ddd;
    transition: all var(--transition);
}

.CustomCheckbox:hover {
    border-color: var(--primary-color);
}

.Input:checked + .CustomCheckbox {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.CustomCheckbox::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1em;
    height: 1em;
    background: 
        linear-gradient(
            45deg,
            transparent 45%,
            #ddd 45%,
            #ddd 55%,
            transparent 55%
        ),
        linear-gradient(
            -45deg,
            transparent 45%,
            #ddd 45%,
            #ddd 55%,
            transparent 55%
        );
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all var(--transition);
}

.CustomCheckbox:hover::after {
    background: 
        linear-gradient(
            45deg,
            transparent 45%,
            var(--primary-color) 45%,
            var(--primary-color) 55%,
            transparent 55%
        ),
        linear-gradient(
            -45deg,
            transparent 45%,
            var(--primary-color) 45%,
            var(--primary-color) 55%,
            transparent 55%
        );
}

.Input:checked:hover + .CustomCheckbox {
    background-color: var(--dark-color);
}
.Input:checked + .CustomCheckbox::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 45%;
    width: 1em;
    height: 0.5em;
    border: solid var(--white);
    border-width: 0 0 2px 2px;
    background: none;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.Label {
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
}

.Error {
    position: absolute;
    bottom: -1.5em;
    left: 0;
    color: var(--error-color);
    font-size: 0.9rem;
}