*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: var(--light-color);
}
html {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--white);
}
#root {
    min-height: 100dvh;
    padding: 1em;
}
:root {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;

    --primary-color: #8b4513; /* Коричневий театральний */
    --secondary-color: #d4a76a; /* Золотистий */
    --accent-color: #c1440e; /* Теракотовий */
    --light-color: #f8f1e5; /* Світло-бежевий */
    --dark-color: #2c1810; /* Темно-коричневий */
    --text-color: #333333;
    --text-light: #777777;
    /* --bright */
    --white: #ffffff; 

    --shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.1);
    --border-radius: 0.5em;
    --transition: 250ms;
}