.Wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 1em;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    gap: 1em;
}